/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2015, 8:47:40 PM
    Author     : Nimaz
*/

body{
    background-color: #ddd;
}

.navbar {
    margin-bottom: 0;
}


h1{
    color: red;
}


ul.nav.navbar-nav.pull-right>li>a:hover {
   color:greenyellow;
}
/*adjust the size of sign in form*/
.form-signin{
    width: 275px;
    max-width: 275px;
    margin: 0 auto;
    padding: 10px;
}

.panelDesign{         /*-------picture links----*/
	margin:80px 20px 50px 80px;
	padding:40px;
	border:6px solid #484EA8;
	text-align:center;
	float:left;
	background-color:greenyellow;
	-moz-border-radius:8px;
        -webkit-border-radius:8px;
        
}

.container{
    background-color: white;
    position: relative;
    width:85%;
    
}
#sumPanel{
    background-color: khaki;
    padding: 15px;
    border: 1px black solid;
    margin-top: 20px;
    height: 80px;
}

/*remove list style for bullet points*/
.footer li{
    list-style-type: none;
}
