/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2015, 8:47:40 PM
    Author     : Nimaz
*/

h1{
    color: red;
}


ul.nav.navbar-nav.pull-right>li>a:hover {
   color:greenyellow;
}
/*adjust the size of sign in form*/
.form-signin{
    width: 275px;
    max-width: 275px;
    margin: 0 auto;
    padding: 10px;
}

#h3marg{
    margin-top: 0px;
}